header{
    background: #272626;
    width: 100%;
}
h1{
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: azure;
}
nav li{
    display: inline;
    font-size: 20px;
    font-weight: bold;
    margin: 40px 60px;
    position: relative;
    left: 17%;
    top: 250px;
    box-sizing: border-box;
    border: 3px solid #272626;
    border-radius: 6px;
    padding: 5px 5px;
    background: #cccccc;
    transition: 1s all;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    border: 6px solid #272626;
    border-radius: 6px;
    background: #575656;
}
form label, .input-aluno{
    display: block;
    font-weight: bold;
    font-size: 15px;
    margin: 5px 30px;
    padding: 5px 3px;
    width: 30%;
}
.required:after{
    content: "*";
    color: red;
}
.cadastrar{
    width: 20%;
    margin: 10px 0 0 100px;
    padding: 15px 0;
    cursor: pointer;
    background: #575656;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    transition: 1s all;
}
.cadastrar:hover{
    background: #0e0d0d;
    color: azure;
    transform: scale(1.1);
}